
.task-book {
    display: flex;
    width: auto;
    height: auto;
    background-color: #6DFFE7;
    justify-content: center;

}
.dat-dich-vu {
    text-align: center;
}
#dat{
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    padding: 20px;
}
.option {
    justify-content: center;
    align-items: center;
    margin: 3%;
}
.form-select {
    width: 500px;
    height: 100%;
}
.option2 {
    width: 150%;
    height: 100%;
}
.option3 {
    width: 150%;
    height: 100%;
}
.option4 {
    width: 150%;
    height: 100%;
}
.submit_book {
    width: 150%;
    height: auto;
    margin: 0 10%;
}

